@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There's nothing to see here. </p>
<p>These aren't the droids you're looking for...</p>
