@page
@model Pages.Car.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="thisCar!.Id" />
            <div class="form-group">
                <label asp-for="thisCar!.Make" class="control-label"></label>
                <input asp-for="thisCar!.Make" class="form-control" />
                <span asp-validation-for="thisCar!.Make" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="thisCar!.Model" class="control-label"></label>
                <input asp-for="thisCar!.Model" class="form-control" />
                <span asp-validation-for="thisCar!.Model" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="thisCar!.Year" class="control-label"></label>
                <input asp-for="thisCar!.Year" class="form-control" />
                <span asp-validation-for="thisCar!.Year" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="thisCar!.Doors" class="control-label"></label>
                <input asp-for="thisCar!.Doors" class="form-control" />
                <span asp-validation-for="thisCar!.Doors" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="thisCar!.Color" class="control-label"></label>
                <input asp-for="thisCar!.Color" class="form-control" />
                <span asp-validation-for="thisCar!.Color" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="thisCar!.Price" class="control-label"></label>
                <input asp-for="thisCar!.Price" class="form-control" />
                <span asp-validation-for="thisCar!.Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="./Car">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}